@inherits LayoutComponentBase

<div class="page">
    <RadzenLayout>
        <RadzenHeader>

        </RadzenHeader>
        <RadzenBody>
            @Body
        </RadzenBody>
    </RadzenLayout>
</div>
